// Variables

// Colors
$primary: #2A7096 !default;
$secondary: #2A7096 !default;

// Fonts
$font-family-serif: "Roboto", sans-serif !default;
$font-family-sans-serif: "Roboto", sans-serif !default;

$font-family-base: $font-family-serif !default;

$headings-font-family: $font-family-sans-serif !default;

// Custom
$navbar-height: 72px;